In [1]:
from ECOv002_calval_tables import load_times_locations
from GEOS5FP import GEOS5FP

In [2]:
GEOS5FP_connection = GEOS5FP()
GEOS5FP_connection

{
  "URL": "https://portal.nccs.nasa.gov/datashare/gmao/geos-fp/das",
  "download_directory": "~/data/GEOS5FP"
}

In [3]:
targets_df = load_times_locations()
targets_df

          ID             time_UTC                  geometry
0     US-NC3  2019-10-02 19:09:40    POINT (-76.656 35.799)
1     US-Mi3  2019-06-23 18:17:17   POINT (-80.637 41.8222)
2     US-Mi3  2019-06-27 16:35:42   POINT (-80.637 41.8222)
3     US-Mi3  2019-06-30 15:44:10   POINT (-80.637 41.8222)
4     US-Mi3  2019-07-01 14:53:48   POINT (-80.637 41.8222)
...      ...                  ...                       ...
1060  US-xAE  2021-12-11 16:01:12  POINT (-99.0588 35.4106)
1061  US-xAE  2022-03-25 22:45:31  POINT (-99.0588 35.4106)
1062  US-xAE  2022-04-12 22:53:09  POINT (-99.0588 35.4106)
1063  US-xAE  2022-04-14 14:45:37  POINT (-99.0588 35.4106)
1064  US-xAE  2022-04-20 19:38:47  POINT (-99.0588 35.4106)

[1065 rows x 3 columns]

In [4]:
sample_df = targets_df.sample(n=5)
sample_df

         ID             time_UTC                   geometry
620  US-SRG  2020-06-25 19:35:33  POINT (-110.8277 31.7894)
635  US-SRG  2021-02-28 17:18:17  POINT (-110.8277 31.7894)
536  US-WCr  2021-06-06 18:34:15   POINT (-90.0799 45.8059)
36   US-HBK  2022-05-01 12:28:11   POINT (-71.7181 43.9397)
126  US-Whs  2020-05-06 15:16:26  POINT (-110.0522 31.7438)

In [5]:
results_df = GEOS5FP_connection.query(
    target_variables=["Ta_C", "RH"],
    targets_df=sample_df,
    verbose=False
)

results_df

Querying 4 locations:   0%|          | 0/5 [00:00<?, ?batch/s]

,ID,time_UTC,Ta_C,RH,geometry
620,US-SRG,2020-06-25 19:35:33,39.059229,0.087837,POINT (-110.8277 31.7894)
635,US-SRG,2021-02-28 17:18:17,11.137170,0.131330,POINT (-110.8277 31.7894)
536,US-WCr,2021-06-06 18:34:15,26.462793,0.527528,POINT (-90.0799 45.8059)
36,US-HBK,2022-05-01 12:28:11,5.946832,0.564825,POINT (-71.7181 43.9397)
126,US-Whs,2020-05-06 15:16:26,23.612573,0.311448,POINT (-110.0522 31.7438)