In [1]:
import pandas as pd
from regression_inference import OrdinalLogisticRegression, summary

import statsmodels.api as sm
anes_data = sm.datasets.anes96.load()
X, y =pd.DataFrame(anes_data.exog), pd.Series(anes_data.endog)

In [2]:
model = OrdinalLogisticRegression().fit(X, y, alpha=0.05, tol=1e-8, max_iter=250, adj_cutpoints=False, cuda=True)
print(model)

/tmp/ipykernel_234201/2463741203.py:1: UserWarning:
CUDA Acceleration is Experimental
CuPy Version: 13.6.0
Device: <CUDA Device 0>

  model = OrdinalLogisticRegression().fit(X, y, alpha=0.05, tol=1e-8, max_iter=250, adj_cutpoints=False, cuda=True)

=============================================
Ordinal Regression Results
---------------------------------------------
Dependent:                                PID
---------------------------------------------

logpopul                           -0.0707***
                                     (0.0187)

selfLR                              1.0192***
                                     (0.0492)

age                                   -0.0042
                                     (0.0036)

educ                                0.1777***
                                     (0.0417)

income                              0.0472***
                                     (0.0111)

0:1                                 3.6891***
                                     (0.3674)

1:2                                 4.9406***
                                     (0.3738)

2:3                                 5.6492***
                                     (0.3843)

3:4                                 5.9067***
                                     (0.3914)

4:5                                 6.5607***
                                     (0.4030)

5:6                                 7.7405***
                                     (0.4224)

---------------------------------------------
Accuracy                                0.388
Pseudo R-squared                        0.146
LR Statistic                          511.454
Observations                          944.000
Log Likelihood                      -1494.620
Null Log Likelihood                 -1750.347
Deviance                             2989.239
Null Deviance                        3500.693
AIC                                  3011.239
BIC                                  3064.590
=============================================
*p<0.1; **p<0.05; ***p<0.01

In [3]:
model_adj = OrdinalLogisticRegression().fit(X, y, alpha=0.05, tol=1e-8, max_iter=250, adj_cutpoints=True, cuda=False)
print(model_adj)

=============================================
Ordinal Regression Results
---------------------------------------------
Dependent:                                PID
---------------------------------------------

logpopul                           -0.0707***
                                     (0.0191)

selfLR                              1.0192***
                                     (0.0533)

age                                   -0.0042
                                     (0.0037)

educ                                0.1777***
                                     (0.0408)

income                              0.0472***
                                     (0.0108)

0:1                                 3.6891***
                                     (0.3729)

1:2                                 0.2243***
                                     (0.0686)

2:3                                -0.3445***
                                     (0.0910)

3:4                                -1.3565***
                                     (0.1607)

4:5                                -0.4247***
                                     (0.0979)

5:6                                  0.1653**
                                     (0.0752)

---------------------------------------------
Accuracy                                0.388
Pseudo R-squared                        0.146
LR Statistic                          511.454
Observations                          944.000
Log Likelihood                      -1494.620
Null Log Likelihood                 -1750.347
Deviance                             2989.239
Null Deviance                        3500.693
AIC                                  3011.239
BIC                                  3064.590
=============================================
*p<0.1; **p<0.05; ***p<0.01

/tmp/ipykernel_234201/60148070.py:1: UserWarning:
Optimization did not converge after 250 iterations.
Optimizer message: Desired error not necessarily achieved due to precision loss.
Consider:
- Increasing max_iter
- Adjusting tolerance
- Scaling features
- Checking for separation issues
- Ensuring sufficient samples per class

  model_adj = OrdinalLogisticRegression().fit(X, y, alpha=0.05, tol=1e-8, max_iter=250, adj_cutpoints=True, cuda=False)

In [4]:
pd.DataFrame(model.variance_inflation_factor())

    feature     VIF
0  logpopul  1.0209
1    selfLR  1.0374
2       age  1.0335
3      educ  1.2008
4    income  1.1768

In [4]:
pd.DataFrame(model.inference_table())

     feature coefficient std_error z_statistic  P>|t| ci_low_0.05 ci_high_0.05
0   logpopul     -0.0707    0.0187     -3.7901  0.000     -0.1073      -0.0342
1     selfLR      1.0192    0.0492     20.7351  0.000      0.9228       1.1155
2        age     -0.0042    0.0036     -1.1471  0.251     -0.0113       0.0029
3       educ      0.1777    0.0417      4.2592  0.000      0.0959       0.2594
4     income      0.0472    0.0111      4.2403  0.000      0.0254        0.069
5        0:1      3.6891    0.3674     10.0404  0.000       2.969       4.4092
6        1:2      4.9406    0.3738     13.2184  0.000       4.208       5.6732
7        2:3      5.6492    0.3843     14.6986  0.000      4.8959       6.4024
8        3:4      5.9067    0.3914     15.0904  0.000      5.1396       6.6739
9        4:5      6.5607     0.403     16.2806  0.000      5.7709       7.3505
10       5:6      7.7405    0.4224     18.3252  0.000      6.9126       8.5684

In [5]:
pd.DataFrame(model_adj.inference_table())

,feature,coefficient,std_error,z_statistic,P>|t|,ci_low_0.05,ci_high_0.05
0,logpopul,-0.0707,0.0191,-3.7001,0.000,-0.1082,-0.0333
1,selfLR,1.0192,0.0533,19.1178,0.000,0.9147,1.1237
2,age,-0.0042,0.0037,-1.1155,0.265,-0.0115,0.0032
3,educ,0.1777,0.0408,4.3559,0.000,0.0977,0.2576
4,income,0.0472,0.0108,4.3843,0.000,0.0261,0.0683
5,0:1,3.6891,0.3729,9.8920,0.000,2.9582,4.42
6,1:2,0.2243,0.0686,3.2722,0.001,0.09,0.3587
7,2:3,-0.3445,0.091,-3.7848,0.000,-0.5229,-0.1661
8,3:4,-1.3565,0.1607,-8.4433,0.000,-1.6713,-1.0416
9,4:5,-0.4247,0.0979,-4.3393,0.000,-0.6165,-0.2328
10,5:6,0.1653,0.0752,2.1989,0.028,0.018,0.3127

In [6]:
pd.DataFrame(model.predict([1, 1, 32, 4, 90], return_table=False))

         0         1         2         3         4         5         6
0  0.11071  0.192508  0.165958  0.064303  0.153946  0.189957  0.122618

In [7]:
predictions = pd.DataFrame(model.predict([1, 1, 32, 4, 90], return_table=True))
predictions

,features,prediction_class,cumulative_probabilities,prediction_prob,std_error,z_statistic,P>|z|,ci_low_0.05,ci_high_0.05
0,"[{'logpopul': '1.00', 'selfLR': '1.00', 'age':...",1,"[0.1107, 0.3032, 0.4692, 0.5335, 0.6874, 0.877...","[0.1107, 0.1925, 0.166, 0.0643, 0.1539, 0.19, ...","[0.0834, 0.0943, 0.0349, 0.0104, 0.0323, 0.090...","[1.3278, 2.0407, 4.75, 6.1592, 4.7666, 2.0982,...","[0.184, 0.041, 0.000, 0.000, 0.000, 0.036, 0.172]","[0.0, 0.0076, 0.0975, 0.0438, 0.0906, 0.0125, ...","[0.2741, 0.3774, 0.2344, 0.0848, 0.2172, 0.367..."

In [8]:
pd.DataFrame(model_adj.predict([1, 1, 32, 4, 90], return_table=False))

         0         1         2         3         4         5         6
0  0.11071  0.192509  0.165958  0.064303  0.153946  0.189957  0.122618

In [9]:
pd.DataFrame(model_adj.predict([1, 1, 32, 4, 90], return_table=True))

,features,prediction_class,cumulative_probabilities,prediction_prob,std_error,z_statistic,P>|z|,ci_low_0.05,ci_high_0.05
0,"[{'logpopul': '1.00', 'selfLR': '1.00', 'age':...",1,"[0.1107, 0.3032, 0.4692, 0.5335, 0.6874, 0.877...","[0.1107, 0.1925, 0.166, 0.0643, 0.1539, 0.19, ...","[0.0811, 0.093, 0.0341, 0.0103, 0.0313, 0.0887...","[1.365, 2.0708, 4.8691, 6.2416, 4.9255, 2.1425...","[0.172, 0.038, 0.000, 0.000, 0.000, 0.032, 0.167]","[0.0, 0.0103, 0.0992, 0.0441, 0.0927, 0.0162, ...","[0.2697, 0.3747, 0.2328, 0.0845, 0.2152, 0.363..."